div{
  color: white;
}

h1{
  font-size: 3rem;
  text-align: center;
  line-height: 2;
}

a{
  color: white;
  text-decoration: none;
  padding-right: 7%;
}

#udemyCourse{
  font-size: 1.5rem;
  padding: 1% 15%;
  text-align: justify;
}

#projects{
  font-size: 1.5rem;
  padding: 0 15% 1% 15%;
}

.project-text{
  margin: 0
}

.textAndLinks{
  padding-bottom: 2%;
}
